Problem statement: -
Dataset: -

In [1]:
#import the necessary libraries 
#import pandas 

import pandas as pd

In [2]:
#Read dataset

data=pd.read_csv("Dataset-diabetes.csv")

In [3]:
#display first five records 
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# find out last record number 

data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
#find out no. of rows and colmuns 
data.shape

(768, 9)

In [6]:
#check for null record or values 
data.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [7]:
#count the null values 
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
#split our data into indepenadent and dependant variable
X=data.drop('Outcome',axis=1)
y=data['Outcome']

In [37]:
#split the data for training and testing 20%

#train test split
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=20)

In [38]:
# Selection and train our model
from sklearn.tree import DecisionTreeClassifier

In [39]:
mymodel=DecisionTreeClassifier()

In [40]:
mymodel

DecisionTreeClassifier()

In [41]:
# training of our model
result=mymodel.fit(X_train,y_train)

In [42]:
#Test model 
pred=result.predict(X_test)

In [43]:
pred

array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [44]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [45]:
# Evaluate model performance 
from sklearn.metrics import accuracy_score,classification_report

In [47]:
# print accourcay of model
print('Validation accuaracy score is',accuracy_score(y_test,pred))

Validation accuaracy score is 0.6732283464566929

In [48]:
#print classification report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.77      0.74      0.75       171
           1       0.50      0.54      0.52        83

    accuracy                           0.67       254
   macro avg       0.63      0.64      0.64       254
weighted avg       0.68      0.67      0.68       254

In [49]:
#print confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[126,  45],
       [ 38,  45]], dtype=int64)

In [54]:
#KNN Algorithm 
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train,y_train)
pred = knn.predict(X_test)
#checking the validation score or test score 
print('Validation accuaracy score with KNN 2 is',accuracy_score(y_test,pred))

Validation accuaracy score with KNN 2 is 0.7047244094488189

In [51]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
pred = knn.predict(X_test)
#checking the validation score or test score 
print('Validation accuaracy score with KNN=5 is',accuracy_score(y_test,pred))

Validation accuaracy score with KNN=5 is 0.7401574803149606

In [53]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train,y_train)
pred = knn.predict(X_test)
#checking the validation score or test score 
print('Validation accuaracy score with KNN=10 is',accuracy_score(y_test,pred))

Validation accuaracy score with KNN=10 is 0.7519685039370079

In [55]:
#Random forest 
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
#X_train=sc.fit_transform(X_train)
#X_test=sc.transform(X_test)

from sklearn.ensemble import RandomForestClassifier
mymodel2=RandomForestClassifier(n_estimators=100,criterion='entropy',random_state=88)
result2=mymodel2.fit(X_train,y_train)
pred=result2.predict(X_test)
accuracy_score(pred,y_test)

0.7677165354330708

In [57]:
from sklearn import svm
modelsvm = svm.SVC(kernel='rbf',gamma='auto')
modelsvm.fit(X_train,y_train)
pred = modelsvm.predict(X_test)
#checking the validation score or test score 
print('Validation accuaracy score with svc ',accuracy_score(y_test,pred))

Validation accuaracy score with svc  0.6732283464566929